
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    margin-right: 20px;
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}



:root{
    --out-bg-grey: #e1e1de;
    --out-bg-green: #00a884;
    --user-bg-color: #e3e4e8;
    --my-chat-color: #d9fdd3;
    --icons-grey-filler: #b1b1b1;
    --news-color: #8edafc;
    --smileAndMicColor: #6b7376;
    --contact-clicked: #e1e1e1;

    --topGreen-height: 125px;
    --app-height: 96vh;
    --top-profile-height: 60px;

    --chat-height: 100%;
    --text-width: 54vw;
}

.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--out-bg-grey);
}

.topGreen{
    position: fixed;
    z-index: 500;
    width: 100vw;
    height: var(--topGreen-height);
    background-color: var(--out-bg-green);
}

.bg-debug{
    background-color: white;
}

#app{
    /* default position static, i had to modify */
    position: relative;
    height: var(--app-height);
    width: 83vw;
    margin: auto;
    
    z-index: 1000;
}

/* sidebar handler */
.sidebar{
    height: 100%;
    min-width: 23vw;
}

.sidebar-top{
    width: 100%;
}

.topbar{
    height: var(--top-profile-height);
    background-color: var(--user-bg-color);
}

.content{
    height: 100%;
    width: calc(100% - 23vw);
}

/*sidebar via */

/*sidebar topbar*/

img{
    max-width: 100%;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container>i{
    font-size: 1.2em;
    
}

.border-grey{
    border-right: 1px solid var(--icons-grey-filler);
}





/*content handler */

.bottom-content{
    height: calc(var(--app-height) - var(--top-profile-height));
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    
}

/*sidebar bottom*/

.sidebar-bottom{
    overflow-y: auto;
}
.row-fixer{
    width: 100%;
    margin-left: 0px;
}




.contact{
    height: auto;
    border-bottom: 1px solid var(--user-bg-color);
}




.chat-container{
    overflow-y: auto;
}
.chat-width{
    width: var(--text-width);
    margin: 0 auto;
}
.writebar{
    width: 100%;
    min-height: var(--top-profile-height);
    background-color: var(--user-bg-color);
}

.writebar>*{
    height: 70%;
    width: height;
    padding: auto;
    
}

.input-container{
    border-radius: 5px;
    width: var(--text-width);
}

input{
    outline: none;
    max-width: 100%;
}

.message-content{
    max-width: 75%;
}

.bg-start{
    background-color: aliceblue;
    border: 0;
}

.bg-end{
    background-color: var(--my-chat-color);
    border: 0;
}

.topbar-profile{
    max-width: calc( var(--top-profile-height) - 15px);
    background-size: cover;
    overflow: hidden;
    
    border-radius: 50%;
}

.topbar-name{
    font-size: 1em;
    font-style: bold;
}

.my-text-info{
    color: var(--icons-grey-filler);
    font-size: 0.85em
}


#topbar-news{
    height: 100px;
}

.news-background{
    background-color: var(--news-color);
}

#container-bell{
    background-color: white;
    border-radius: 50%;
    height: 30px;
    min-width: 30px;
}

#container-bell>*{
    transform: translate(20%, 20%);
    color: var(--news-color);
}

.news-title{
    font-size: bolder;
}

.news-description{
    font-size: 0.8em;
    text-decoration: underline;
    color: var(--smileAndMicColor);
}

.contact-image-container{
    min-width: 50px;
    max-width: 60px;
}

.my-rounded{
    border-radius: 50%;
}

.text-grey{
    color: var(--icons-grey-filler);
    
}

.username{
    font-size:1.2em;
}

.last-message{
    font-size: 0.8em;
}

.smileAndMic{
    color: var(--smileAndMicColor);
}

/*small pc*/
@media screen and (max-width: 1100px) {
    #app{
        width: 100%;
        height: 100%;
    }
    .bottom-content{
        height: calc(100% - var(--top-profile-height));
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .topbar-name{
        display: none!important;
    }
    .news-title{
        display: none;
    }
    .last-message-time{
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .user-info{
        display: none;
    }
    .icon-container{
        display: none;
    }
    .news-description{
        display: none;
    }
    .chat-width{
        width: auto;
    }
    .message{
        min-width: 0px!important;
    }
    
}

/* js */
.clickedObj{
    background-color: var(--contact-clicked);
}

.message{
    min-width: 300px;
}

.time{
    font-size: 0.7em;
    color: #b1b1b1;
}

.contact:hover{
    background-color: #e9ebeb;
}
