<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzap</title>
</head>

<body>
    <!-- background top green -->
    <div class="topGreen "></div>
    <!-- external wrapper -->
    <div class="wrapper d-flex flex-column justify-content-center">


        <!-- actual content -->
        <div id="app" class="  d-flex flex-row">
            <div class="sidebar bg-secondary d-flex flex-column">
                <div class="sidebar-top  d-flex flex-column">
                    <!-- topbar profile -->
                    <div class="topbar d-flex flex-row p-2 border-grey ">
                        <div class="topbar-left d-flex flex-row flex-grow-1">
                            <div class="topbar-profile ">
                                <img class="profile-icon" src="img/avatar_io.jpg" alt="profile">
                            </div>
                            <div class="topbar-name d-flex flex-row align-items-center ml-2">Chiara</div>
                        </div>
                        <div class="topbar-right d-flex flex-row ">
                            <div class="icon-container mr-2">
                                <i class="fa-regular fa-circle " style="color: #b1b1b1"></i>
                            </div>
                            <div class="icon-container mr-2">
                                <i class="fa-solid fa-message " style="color: #b1b1b1"></i>
                            </div>
                            <div class="icon-container mr-2">
                                <i class="fa-solid fa-ellipsis-vertical " style="color: #b1b1b1"></i>
                            </div>
                        </div>
                    </div>
                    <!-- topbar-news -->
                    <div id="topbar-news" class="d-flex flex-row news-background pl-4 align-items-center">
                        <div id="container-bell">
                            <i class="fa-regular fa-bell-slash"></i>
                        </div>
                        <div class="news-text d-flex flex-column align-items-start justify-content-center pl-1">
                            <div class="news-title ">
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <span class="news-description text-left">
                                Attiva le notifiche desktop
                            </span>
                        </div>
                    </div>

                    <div class="sidebar-search d-flex  align-items-center flex-grow-1 p-2"
                        style="background-color: white;">
                        <div class="   d-flex  align-items-center bg-light flex-grow-1 p-2 ">
                            <i class="fa-solid fa-search p-2 "></i>
                            <input type="text" class="flex-grow-1 border-0 bg-light py-1"
                                placeholder="Cerca o inizia una nuova chat" @keydown.enter="searchChat()"
                                v-model="chatsearchinput">
                        </div>

                    </div>

                </div>

                <div class="sidebar-bottom bg-debug flex-grow-1">

                    <div class="row row-fixer ">
                        <!-- user to replicate -->
                        <div v-for="(user, index) in contacts" @click="selectUser(user.id)"
                            :class="{'clickedObj' : isSelected(user.id)}" class="contact col-12 ">
                            <!-- render -->
                            <div class="outer-rendering" v-show="user.visible">
                                <div class="d-flex flex-row align-items-center justify-content-between">
                                    <div class="user-left d-flex flex-row justify-content-center">
                                        <div class="contact-image-container py-2 ">
                                            <img :src="user.avatar" class="my-rounded" alt="">
                                        </div>
                                        <div class="user-info p-2">
                                            <div class="username">{{user.name}}</div>
                                            <div class="text-grey last-message">ultimo messaggio inviato alle
                                                {{lastDateId(user.id)}}</div>
                                        </div>
                                    </div>
                                    <div class="user-right d-flex flex-column justify-content-start h-100 pt-1">
                                        <div class="last-message-time last-message text-grey">
                                            {{lastDateId(user.id)}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="content">
                <div class="topbar d-flex flex-row p-2">
                    <div class="topbar-left d-flex flex-row flex-grow-1">
                        <div class="topbar-profile ">
                            <img class="profile-icon" :src="activeContact.avatar" alt="profile">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <div class="topbar-name d-flex flex-row align-items-center ml-2 "
                                style="max-height: 10px; padding-top: 5px;">{{activeContact.name}}</div>
                            <div class="ml-2 my-text-info">ultimo accesso
                                {{lastDate}}
                                <!-- {{lastMessageParser(activeContact.messages[activeContact.messages.length
                                -1].date)}} -->
                            </div>
                        </div>
                    </div>
                    <div class="topbar-right d-flex flex-row ">
                        <div class="icon-container mr-2">
                            <i class="fa-solid fa-magnifying-glass " style="color: #b1b1b1"></i>
                        </div>
                        <div class="icon-container mr-2">
                            <i class="fa-solid fa-paperclip " style="color: #b1b1b1"></i>
                        </div>
                        <div class="icon-container mr-2">
                            <i class="fa-solid fa-ellipsis-vertical " style="color: #b1b1b1"></i>
                        </div>
                    </div>
                </div>

                <!-- chat will be generated via js -->


                <div class="bottom-content d-flex flex-column justify-content-end">
                    <div class="chat-container py-3">
                        <div id="chat" class="chat-width d-flex flex-column justify-content-end">
                            <!-- generated via js -->
                            <div v-for="(message,index) in contacts[userIndex].messages">
                                <div v-if="activeContact.messages.length" class="d-flex justify-content-start pb-1"
                                    :class="'justify-content-'+returnStartEnd(message.status)"
                                    @mouseover="showdelete = true" @mouseout="showdelete = false">
                                    <div class="message card px-3 py-2 message-content d-flex flex-row justify-content-between"
                                        :class="'bg-'+returnStartEnd(message.status)">
                                        <span>{{message.message}}</span>
                                        <div class="time d-flex flex-row justify-content-start align-items-start pl-2">
                                            <div v-show="!showdelete">{{lastMessageParser(message.date)}}</div>
                                            <div v-show="showdelete" class="pl-2" @click="removeMessage(index)">
                                                <i class="fa-solid fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- chatting bar -->
                    <div class="writebar d-flex flex-row justify-content-center align-items-center px-3 "
                        role="textbox ">
                        <div class="d-flex flex-row align-items-center"><i class="fa-regular fa-smile smileAndMic"
                                style="font-size: 1.3em;"></i></div>
                        <div class="input-container  mx-3 d-flex flex-row align-items-center bg-light">

                            <input type="text" class="flex-grow-1 border-0 bg-light px-2"
                                placeholder="Scrivi un messaggio" @keydown.enter="addMessage()" v-model="messageToSend">
                        </div>
                        <div class="d-flex flex-row align-items-center"><i class="fa-solid smileAndMic"
                                :class="{'fa-microphone' : !messageToSend}, {'fa-paper-plane' : messageToSend}"
                                @click="checkadd()" style="font-size: 1.3em;"></i></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="module"></script>
</body>

</html>